.tui-editor-contents {
  font-size : 1.250rem
}

.toastui-editor-contents {
  font-size : 1.250rem,
}

@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}